<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
          point="org.eclipse.ant.core.antTasks">
       <antTask
             class="org.apache.felix.ipojo.task.IPojoTask"
             eclipseRuntime="true"
             headless="true"
             library="ipojo-builder-ant.jar"
             name="ipojo"/>
    </extension>
    <extension
          point="org.eclipse.ant.core.extraClasspathEntries">
       <extraClasspathEntry
             eclipseRuntime="true"
             headless="true"
             library="ipojo-builder-ant.jar"/>
    </extension>
</plugin>
